@page "{id:int?}"
@model PROJET_ASI.Pages.Proprietaires.DetailsModel

@{
    ViewData["Title"] = "Détails";
}

<h1>Détails</h1>

<div>
    <h4>Propriétaire</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proprietaire.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proprietaire.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proprietaire.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proprietaire.Prenom)
        </dd>
    </dl>

    @if (Model.Proprietaire.NbLogements > 0)
    {
        <h4>Les logements de ce propriétaire</h4>
        <hr />
        <dl class="row">
            <table>
                <thead>
                    <tr>
                        <td>
                <dt class="col-sm-8">
                    Adresse du logement
                </dt>
                </td>
                <td>
                    <dt class="col-sm-5">
                        Prix
                    </dt>
                </td>
                <td>
                    <dt class="col-sm-5">
                        Superficie
                    </dt>
                </td>
                <td>
                    <dt class="col-sm-8">
                        Nombres de chambres
                    </dt>
            </td>
            <td>
            <dt class="col-sm-8">
                Voir le logement
            </dt>
            </td>
            </tr>
            </thead>
            <tbody>
                    @foreach (var item in Model.Proprietaire.LogementsAppartient)
                    {
                    <tr>
                        <td>
                                @Html.DisplayFor(modelItem => item.Adresse)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Prix)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Superficie)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Nb_chambres)
                        </td>
                        <td>
                            <a asp-page="../Logements/Details" asp-route-id="@item.ID">Détails du logement</a>
                        </td>
                    </tr>
                    }
            </tbody>
            </table>
        </dl>
    }
    else
    {
        <p>Ce propriétaire n'a pas de logement.</p>
    }
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Proprietaire.ID">Modifier</a> |
    <a asp-page="./Index">Retour aux propriétaires</a>
</div>
